header {
  background: #444;
}

header h1 {
  margin: 0;
  padding: 0.5em;
  font-size: 1.5em;
}

header nav {
  background: #393939;
  line-height: 2em;
  padding: 1em;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header li {
  display: inline;
  margin-left: 0.5em;
}

header a {
  color: #fff;
}

a {
  color: #aaf;
}

#copyright {
  line-height: 3em;
  text-align: center;
  color: #aaa;
  background: #444;
  margin-top: 2em;
}

.table {
  display: table;
  margin: auto;
  width: 90%;
}

.table .head {
  color: #00f;
  background: #aff;
  text-align: center;
  cursor: pointer;
}

.table .head > *:hover {
  background: rgba(0,0,0,0.3);
}

.table .row {
  color: #000;
  display: table-row;
}

.table .row > * {
  display: table-cell;
  text-align: center;
}

.table .row label {
  padding-right: 2em;
}

.table .row label:after {
  content: ":";
}

.table .buttons {
  text-align: center;
}

form .error {
  color: #f00;
  padding: 0em 1em;
}

.available {           background: #afa; }
.ready {               background: #efe; }
.available-on-demand { background: #faf; }
.on-break {            background: #ff6; }
.unknown {             background: #eee; }
.standby {             background: #fa9; }
.logged-out {          background: #f66; }

form.table {
  width: 44em;
  padding: 1em;
  margin: 1em auto;
  background: #444;
}

form.table .row {
  color: #fff;
  padding: 0.5em;
}

form.table .row > * {
  text-align: left;
}

form.table .table {
  width: 42em;
}

h1 {
  margin: 1em;
}

.users {
  margin: auto;
  width: 90%;
}

.users table {
  padding: 1em;
}

.users thead tr {
  background: #336;
}

.users thead tr th {
  padding: 0.5em;
}

.users tbody tr td {
  padding: 0.2em;
}

.users th {
  text-align: left;
}

.users tr.even {
  background: rgba(0,0,0,0.3);
}

.users tr.odd {
  background: rgba(0,0,0,0.1);
}

.hidden {
  display: none;
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}
