body {
  margin: 0;
  padding: 0;
}

.call {
  display: block;
  border: 1px solid black;
  float: left;
  padding: 0.5em;
  margin: 0.5em;
}

.call .cid-name { font-weight: bold; }
.call .cid-number { }
.call .cid-number:before { content: "("; }
.call .cid-number:after { content: ")"; }
.call .answered { display: block; }
.call .destination { }
.call .queue-name { }
.call .channel { display: none; }
.call .uuid { display: none; }

#status, #state {
  background: #aaf;
  color: #666;
}
#status { width: 7em; float: left; }
#available { }
#available.active { background: #afa; }
#on_break { background: #ff0; color: #000; }
#on_break.active { background: #afa; }
#logged_out { background: #f00; color: #000; }
#logged_out.active { background: #afa; }

#state { width: 9em; float: left; }
#Idle { background: #f00; }
#Idle.active { background: #afa; }
#In_a_queue_call { background: #ff0; }
#In_a_queue_call.active { background: #afa; }

#disposition {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: block;
  top: 0em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  clear: both;
  line-height: 2em;
  text-align: center;
}

#disposition ul {
  position: absolute;
  top: 50%;
  margin-top: -2em;
}

#disposition li {
  overflow: hidden;
  display: inline;
}

#disposition a .hotkey {
  font-size: xx-small;
  vertical-align: top;
}

#disposition li a {
  width: 16.6666666%; /* OMG */
  line-height: 2em;
  display: block;
  float: left;
  background: #fff;
  color: #f00;
}

#disposition li a:hover {
  background: #f00;
  color: #fff;
}

#information {
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  text-align: center;
}

a {
  display: block;
  border: none;
  margin: 0.1em;
}

a.inactive:hover {
  -webkit-transition: all 0.61s linear;
  -moz-transition: all 0.61s linear;
  transition: all 0.61s linear;
  background: #aff;
}

a.active {
  background: #afa;
  border: 1px solid black;
  color: #000;
}

table td {
  text-align: center;
  width: 16%;
}

#server, #agent_name, #agent_ext {
  display: none;
}
