body {
  margin: 0;
  padding: 0;
}

#calls {
  position: absolute;
  left: 33%;
}

.call {
  display: block;
  border: 1px solid black;
  float: left;
  margin: 0.5em;
  position: relative;
  background: #fff;
}

.call .call-control {
  display: block;
  width: 100%;
  background: #ccc;
  line-height: 1em;
  height: 1em;
  font-size: 1em;
}

.call .hangup {
  position: absolute;
  right: 0.2em;
}

.call .transfer {
  position: absolute;
  left: 0.2em;
}

.call .call-data {
  display: block;
  padding: 0.5em;
}

.call .cid-name { font-weight: bold; }
.call .cid-number { }
.call .cid-number:before { content: "("; }
.call .cid-number:after { content: ")"; }
.call .answered { display: block; }
.call .destination { }
.call .queue-name { }
.call .channel { display: none; }
.call .uuid { display: none; }

#status {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  width: 15%;
}

#state {
  position: absolute;
  top: 0.2em;
  left: 16%;
  width: 17%;
}

#callme {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
}

button {
  display: inline-block;
  width: 100%;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: .5em 1em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.green {
  background: #8AE777;
  background: -webkit-gradient(linear, left top, left bottom, from(#8AE777), to(#1E8608));
  background: -moz-linear-gradient(top,  #8AE777,  #1E8608);
}

.green:hover {
  background: #38CE18;
  background: -webkit-gradient(linear, left top, left bottom, from(#38CE18), to(#8AE777));
  background: -moz-linear-gradient(top,  #38CE18,  #8AE777);
}

.green.active {
  background: #38CE18;
  background: -webkit-gradient(linear, left top, left bottom, from(#38CE18), to(#8AE777));
  background: -moz-linear-gradient(top,  #38CE18,  #8AE777);
}

.yellow {
  background: #FBDF81;
  background: -webkit-gradient(linear, left top, left bottom, from(#FBDF81), to(#A17E09));
  background: -moz-linear-gradient(top,  #FBDF81,  #A17E09);
}

.yellow:hover {
  background: #FBDF81;
  background: -webkit-gradient(linear, left top, left bottom, from(#F7C51D), to(#FBDF81));
  background: -moz-linear-gradient(top,  #F7C51D,  #FBDF81);
}

.yellow.active {
  background: #FBDF81;
  background: -webkit-gradient(linear, left top, left bottom, from(#F7C51D), to(#FBDF81));
  background: -moz-linear-gradient(top,  #F7C51D,  #FBDF81);
}

.red {
  background: #F77F8A;
  background: -webkit-gradient(linear, left top, left bottom, from(#F77F8A), to(#9B0917));
  background: -moz-linear-gradient(top,  #F77F8A,  #9B0917);
}

.red:hover {
  background: #F77F8A;
  background: -webkit-gradient(linear, left top, left bottom, from(#EF1C30), to(#F77F8A));
  background: -moz-linear-gradient(top,  #EF1C30,  #F77F8A);
}

.red.active {
  background: #F77F8A;
  background: -webkit-gradient(linear, left top, left bottom, from(#EF1C30), to(#F77F8A));
  background: -moz-linear-gradient(top,  #EF1C30,  #F77F8A);
}

#disposition {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: block;
  top: 0em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  clear: both;
  line-height: 2em;
  text-align: center;
}

#disposition ul {
  position: absolute;
  top: 50%;
  margin-top: -2em;
}

#disposition li {
  overflow: hidden;
  display: inline;
}

#disposition a .hotkey {
  font-size: xx-small;
  vertical-align: top;
}

#disposition li a {
  width: 16.6666666%; /* OMG */
  line-height: 2em;
  display: block;
  float: left;
  background: #fff;
  color: #f00;
}

#disposition li a:hover {
  background: #f00;
  color: #fff;
}

#transfer {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: block;
  top: 0em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  clear: both;
  line-height: 1em;
  text-align: center;
}

#transfer fieldset {
  position: absolute;
  top: 50%;
  width: 100%;
  border: 0px;
  padding: 0;
  margin: auto;
  margin-top: -1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  text-align: center;
}

a {
  display: block;
  border: none;
  text-decoration: none;
  margin: 0.1em;
}

#server, #agent_name, #agent_ext {
  display: none;
}
