body {
  font-family: sans-serif;
  background: #dff;
}

table {
  float: right;
  width: 92%;
}

th {
  background: #bbf;
}

td {
  background: #ccf;
}

th, td {
  padding: 0em 1em;
  line-height: 2em;
  text-align: center;
  border: 1px solid #aaf;
  border-radius: 0.2em;
}

.action {
  background: #fdd;
  border: 1px solid #faa;
  font-weight: normal;
}

td a {
  display: block;
  text-decoration: none;
  border: 0;
}

td.name, td.extension {
  background: #fff;
}

td.status {
  font-style: italic;
  font-size: 0.8em;
}

td.status.active {
  -webkit-box-shadow: inset 0px 0px 0.3em #000;
  -moz-box-shadow: inset 0px 0px 0.3em #000;
  box-shadow: inset 0px 0px 0.3em #000;
  border: 1px solid #000;
}

td.available {
  background: #cfc;
}

td.logged-out {
  background: #fcc;
}

td.available-on-demand {
  background: #fcf;
}

td.on-break {
  background: #ff9;
}

.aspects {
  float: left;
  width: 8%;
  height: 100%;
}

.aspect {
  width: 100%;
  vertical-align: center;
  text-align: center;
  line-height: 3em;
  margin: 0.5em;
  -webkit-box-shadow: inset 0.1em 0.1em 0.3em black;
  -moz-box-shadow: inset 0.1em 0.1em 0.3em black;
  box-shadow: inset 0.1em 0.1em 0.3em black;
  background: #cee;
}

#aspect-trash {
  position: fixed;
  bottom: 0px;
  line-height: 6em;
  -webkit-box-shadow: inset 0.0em 0.0em 0.3em #f00;
  background: #ecc;
  width: 8%;
}

.aspect.active {
  background: #fff;
}

.ui-state-highlight {
  background: #f00;
}

.extension {
  cursor: move;
}

.aspect a {
  display: block;
  border: 0;
}

.aspect a:hover {
  border: 0;
}

.ui-draggable-dragging {
  background: #fff;
  line-height: 3em;
  vertical-align: center;
  -webkit-box-shadow: 0.1em 0.1em 0.3em grey;
}

.ui-draggable {
  background: #0f0;
}

.ui-state-active {
  background: #00f;
  border: 0;
  font-weight: bold;
  color: #eb8f00;
}

.ui-state-hover {
  background: #f0f;
  font-weight: bold;
}

.hidden {
  display: none;
}

#agent_name {
  display: none;
}
