/* Layout for desktop version */

ul {
  list-style: none;
}

ul li {
  text-align: center;
}

a {
  display: block;
  border: none;
  background: #aaf;
  color: #666;
}

a.inactive:hover {
  -webkit-transition: all 0.61s linear;
  background: #aff;
}

a.active {
  background: #afa;
  color: #000;
}

#agent_name {
  display: none;
}


/* Layout for mobile version */

@media handheld, only screen and (max-width: 767px) {

.examplecontainer {

body {

}

}


/* Provide higher res assets for iPhone 4 */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
.download {
background: url(../img/downarrow@2x.png) no-repeat;
background-size: 27px 28px;
}
*/

}
