body {
  padding: 0;
  margin: 0;
  background: #333;
  font-family: sans-serif;
}

nav {
  top: 0;
  position: fixed;
  overflow: hidden;
  height: 2em;
  line-height: 2em;
  width: 100%;
}

nav a {
  color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline;
  padding: 0;
  margin: 0em 0.5em;
}

#nav-queues {
  float: left;
}

#nav-meta {
  float: right;
}

#content {
  margin-top: 2em;
}

#agents .agent {
  float: left;
  width: 15em;
  height: 10em;
  overflow: auto;
  -moz-border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.1em;
  font-size: 0.7em;
}

.agent > div {
  display: none;
}

.agent .name {
  display: block;
  font-weight: bold;
}

.agent .state {
  display: inline;
}

.agent .calls {
  display: block;
}

.call .channel, .call .uuid {
  display: none;
}

.agent-dialog .state .active, .agent-dialog .status .active {
  border: 1px solid #f00;
}

#agents .agent.status-available {
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  transition: 500ms;
  background: #6f6;
}

#agents .agent.status-available-on-demand {
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  transition: 500ms;
  background: #f6f;
}

#agents .agent.status-on-break {
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  transition: 500ms;
  background: #ff6;
}

#agents .agent.status-logged-out {
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  transition: 500ms;
  background: #f66;
}

#proto-agent {
  display: none;
}

#agent_name, #server {
  display: none;
}

footer {
  color: #fff;
  padding-top: 2em;
  clear: both;
  text-align: center;
}
