body {
  padding: 0;
  margin: 0;
  background: #333;
  font-family: sans-serif;
}

h3 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  color: #fff;
}

nav a {
  color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: block;
  padding: 0;
  margin: 0em 0.5em;
}

#nav-search {
  position: absolute;
  top: 0.5em;
  right: 1em;
  height: 2em;
  overflow: hidden;
}

#nav-main {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 15em;
  overflow: hidden;
}

#show-all-agents {
  color: #f00;
}

#nav-queues, #nav-show-all {
  margin-bottom: 1.5em;
}

#nav-sort {
  position: absolute;
  top: 0.5em;
  left: 16em;
}

#nav-sort li {
  float: left;
  line-height: 2em;
}

#content {
  margin-top: 3em;
  margin-left: 16em;
}

#agents .agent {
  height: 6em;
  width: 15em;
  float: left;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.1em;
  font-size: 0.7em;
}

.agent > span {
  display: none;
}

.agent .username, .agent .extension {
  display: inline;
  font-weight: bold;
}

.agent .state {
  display: block;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

.agent .calls {
  display: block;
}

.calls .call {
  background: rgba(255,255,255,0.5);
}

.calls .call .time-of-call-start {
  float: right;
}

.agent .time-since-status-change {
  display: block;
}

.call .uuid, .call .channel, .call .calltap-uuid {
  display: none;
}

.agent-dialog .call .calltap-uuid {
  display: inline;
  float: right;
}

.agent-dialog .state .active, .agent-dialog .status .active {
  border: 1px solid #f00;
}

#agents .agent.status-available {
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  transition: 500ms;
  background: #6f6;
}

#agents .agent.status-available-on-demand {
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  transition: 500ms;
  background: #f6f;
}

#agents .agent.status-on-break {
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  transition: 500ms;
  background: #999;
}

#agents .agent.status-logged-out {
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  transition: 500ms;
  background: #f66;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

#proto-agent {
  display: none;
}

#agent_name, #server {
  display: none;
}

footer {
  color: #fff;
  padding-top: 2em;
  clear: both;
  text-align: center;
}
