body {
  margin: 0;
  padding: 0;
  background: #333;
  font-family: sans-serif;
}

#calls {
  position: absolute;
  left: 15em
}

#calls .call {
  display: block;
  border: 1px solid black;
  border-radius: 0.5em;
  float: left;
  margin: 0.5em;
  position: relative;
  color: #000;
  background: #fff;
}

#calls .call .call-control {
  display: block;
  width: 100%;
  background: #ccc;
  border-radius: 0.5em 0.5em 0em 0em;
  line-height: 1em;
  height: 1em;
  font-size: 1em;
}

#calls .call .hangup {
  position: absolute;
  right: 0.2em;
}

#calls .call .originate {
  position: absolute;
  left: 0.2em;
}

#calls .call .dtmf {
  position: absolute;
  right: 1.4em;
}

#calls .call .transfer {
  position: absolute;
  left: 1.4em;
}

#calls .call .call-data {
  display: block;
  padding: 0.5em;
}

#calls .call .dtmf-form {
  display: none;
}

#calls .call .cid-name { font-weight: bold; }
#calls .call .cid-number { }
#calls .call .cid-number:before { content: "("; }
#calls .call .cid-number:after { content: ")"; }
#calls .call .answered { display: block; }
#calls .call .destination { }
#calls .call .queue-name { }
#calls .call .channel { display: none; }
#calls .call .uuid { display: none; }

#status {
  float: left;
  margin: 0.1em;
  width: 6em;
}

#state {
  float: left;
  margin: 0.1em;
  width: 7em;
}

#control {
  float: right;
  margin: 0.2em;
}

button {
  color: #fff;
  display: inline-block;
  width: 100%;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 0.2em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

button:hover {
  color: #000;
}

button.active {
  color: #000;
}

.green {
  background: #032505;
  background: linear-gradient(90deg,  #032505,  #549C59);
}

.green:hover {
  background: #38CE18;
  background: linear-gradient(270deg, #38CE18, #8AE777);
  background: -webkit-linear-gradient(270deg, #38CE18, #8AE777);
  background: -moz-linear-gradient(270deg,  #38CE18,  #8AE777);
}

.green.active {
  background: #38CE18;
  background: linear-gradient(90deg, #38CE18, #8AE777);
  background: -webkit-linear-gradient(90deg, #38CE18, #8AE777);
  background: -moz-linear-gradient(90deg,  #38CE18,  #8AE777);
}

.yellow {
  background: #A4933C;
  background: -webkit-gradient(linear, left top, left bottom, from(#2F2804), to(#A4933C));
  background: -moz-linear-gradient(top,  #2F2804,  #A4933C);
}

.yellow:hover {
  background: #FBDF81;
  background: -webkit-gradient(linear, left top, left bottom, from(#F7C51D), to(#FBDF81));
  background: -moz-linear-gradient(top,  #F7C51D,  #FBDF81);
}

.yellow.active {
  background: #FBDF81;
  background: -webkit-gradient(linear, left top, left bottom, from(#F7C51D), to(#FBDF81));
  background: -moz-linear-gradient(top,  #F7C51D,  #FBDF81);
}

.yellow[disabled]:hover {
  color: #fff;
  background: #A4933C;
  background: -webkit-gradient(linear, left top, left bottom, from(#2F2804), to(#A4933C));
  background: -moz-linear-gradient(top,  #2F2804,  #A4933C);
}

.red {
  background: #2F0504;
  background: -webkit-gradient(linear, left top, left bottom, from(#2F0504), to(#A43F3C));
  background: -moz-linear-gradient(top,  #2F0504,  #A43F3C);
}

.red:hover {
  background: #F77F8A;
  background: -webkit-gradient(linear, left top, left bottom, from(#EF1C30), to(#F77F8A));
  background: -moz-linear-gradient(top,  #EF1C30,  #F77F8A);
}

.red.active {
  background: #F77F8A;
  background: -webkit-gradient(linear, left top, left bottom, from(#EF1C30), to(#F77F8A));
  background: -moz-linear-gradient(top,  #EF1C30,  #F77F8A);
}

#disposition {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: block;
  top: 0em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  clear: both;
  line-height: 2em;
  text-align: center;
}

#disposition ul {
  position: absolute;
  top: 50%;
  margin-top: -2em;
}

#disposition li {
  overflow: hidden;
  display: inline;
}

#disposition a .hotkey {
  font-size: xx-small;
  vertical-align: top;
}

#disposition li a {
  width: 16.6666666%; /* OMG */
  line-height: 2em;
  display: block;
  float: left;
  background: #fff;
  color: #f00;
}

#disposition li a:hover {
  background: #f00;
  color: #fff;
}

#originate-form {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: block;
  top: 0em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  clear: both;
  line-height: 1em;
  text-align: center;
}

#originate-form fieldset {
  position: absolute;
  top: 50%;
  width: 100%;
  border: 0px;
  padding: 0;
  margin: auto;
  margin-top: -1em;
}

#transfer {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: block;
  top: 0em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  clear: both;
  line-height: 1em;
  text-align: center;
}

#transfer fieldset {
  position: absolute;
  top: 50%;
  width: 100%;
  border: 0px;
  padding: 0;
  margin: auto;
  margin-top: -1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  text-align: center;
}

a {
  display: block;
  border: none;
  text-decoration: none;
  margin: 0.1em;
}

#server, #agent_name, #agent_ext {
  display: none;
}
